<?xml version="1.0"?>
<!--

Web Deployment Descriptor for the SnuggleTeX Demo Application

$Id$

-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>SnuggleTeX</display-name>
  <description>SnuggleTeX Documentation</description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <description>
      Converts SnuggleTeX content pages to XHTML + MathML
    </description>
    <servlet-name>SnuggleTeXServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.demowebapp.SnuggleTeXServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description>
      Serves up static XHTML pages by applying some XSLT to them first
    </description>
    <servlet-name>StaticXSLTServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.demowebapp.StaticXSLTServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>
      Processes and displays user-submitted input
    </description>
    <servlet-name>TryOutServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.demowebapp.TryOutServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SnuggleTeXServlet</servlet-name>
    <url-pattern>/content/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TryOutServlet</servlet-name>
    <url-pattern>/tryout.xml</url-pattern>
  </servlet-mapping>
  <!-- TODO: I think I'm going to replace the following 2 with JSPs, which is how the documentation will work as well -->
  <servlet-mapping>
    <servlet-name>StaticXSLTServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaticXSLTServlet</servlet-name>
    <url-pattern>/release-notes.html</url-pattern>
  </servlet-mapping>

</web-app>
