<?xml version="1.0"?>
<!--

Web Deployment Descriptor for the SnuggleTeX Demo Application

$Id$

-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>SnuggleTeX</display-name>
  <description>SnuggleTeX Documentation Webapp</description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <description>
      Converts SnuggleTeX content pages to XHTML + MathML
    </description>
    <servlet-name>SnuggleTeXServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.demowebapp.SnuggleTeXServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
    <init-param>
      <param-name>cachingXSLT</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>
      Processes and displays user-submitted input
    </description>
    <servlet-name>TryOutServlet</servlet-name>
    <servlet-class>uk.ac.ed.ph.snuggletex.demowebapp.TryOutServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SnuggleTeXServlet</servlet-name>
    <url-pattern>/docs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TryOutServlet</servlet-name>
    <url-pattern>/tryout.xml</url-pattern>
  </servlet-mapping>

</web-app>
